<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pre_CalculateRowHeightDamo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4820E7611E8B4F1500F4D211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4820E77A1E8B4F1600F4D211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4820E7851E8B4F1600F4D211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
